{{ define "main" }}
<div class="banner">
	<h1>{{ .Title }}</h1>
	<hr/>
</div>

<p>{{ .Description }}</p>

<!-- List tags -->
<i>Tags: </i>
{{ range .Site.Taxonomies.tags }}
<i><a href="{{ .Page.Permalink }}">{{ .Page.Title }} </a></i>
{{ end }}

<h2>Projects</h2>

<ul class="all-projects">
	<!-- List the projects -->
	{{ range .Site.RegularPages }}
		<li><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ else }}
		<li>No projects yet</li>
	{{ end }}
</ul>

{{ .Content }}
{{ end }}
